/**
  |============================
  | палитра кольорів
  |============================
*/

:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;

}

.colot text {
	--nav-txt-color: var(--navy-blue)
}

.color-hover {}

body {
	font-family: Roboto, Arial, Helvetica, sans-serif;


}




/**
  |============================
  | header-hover
  |============================
*/

.header-link:hover {
	color:#404bbf;
}

.header-link-email:hover {
	color:#404bbf;
}

/**
  |============================
  | Header style
  |============================
*/

.header {}

.header-nav {}
 

	



.header-logo {}

.header-item {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: ;
}
	

.header-link{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color:#2e2f42 ;

}

.header-address: {}

.header-item-addres {}



.header-link-addres {}

.main-section {}

.main-caption {}