/**
  |============================
  | палитра кольорів
  |============================
*/

:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;



	/* color text */

	--addres-txt-cl: var(--slate);
	--main-txt-cl: var(--navy-blue);
	--main-caption-cl: var(--dairy);
	--main-btn-color: var(--iris);
	--portfolio-btn-cl: var(--cloud)
}

.list {
	list-style: none;

}

.link {
	text-decoration: none
}





body {
	background-color: #ffffff;
	color: #434455;
	font-family: "Roboto", sans-serif;
}



/**
  |============================
  | header-hover
  |============================
*/
/* logo */
.header-logo {
	color: var(--main-btn-color);
	text-transform: uppercase;
	letter-spacing: 0.03em;
	line-height: 1.17;
	font-size: 18px;
	font-weight: 800;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
}

.logo-studio {
	color: var(--main-txt-cl);

}

/**
   |============================
   | hover
   |============================
 */
.header-items:hover {
	color: #404bbf;
}


.header-email:hover {
	color: #404bbf;
}

.btn:hover {
	background-color: #404bbf;

}



/* portfolio */

.portfolio-navigation:hover {
	color: #404bbf;

}

.address-navigation:hover {
	color: #404bbf;

}

/* button */
.all-button:hover {
	color: #FFFFFF;
	background-color: #404BBF;
}



/**
  |============================
  | focus
  |============================
*/
/* html  */


.header-items:focus {
	color: #404bbf;

}



.header-address:focus {
	color: #404bbf;

}

.header-email:focus {
	color: #404bbf;
}

/* section1 */

.btn:focus {
	background-color: #404bbf;

}

/* portfolio */
.portfolio-navigation:focus {
	color: #404bbf;

}

.address-navigation:focus {
	color: #404bbf;

}

.all-button:focus {
	color: #FFFFFF;
	background-color: #404BBF;

}




/**

  | Header style
  |============================
*/

.header {}

.header-nav {}

.header-logo {}

.header-item {}

.header-items {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-txt-cl);
	text-decoration: none;
}

.contacts {
	font-style: normal;
}




.header-email {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--addres-txt-cl);
	text-decoration: none;
}



/**
  |============================
  |  section1 style
  |============================
*/
.main-section {
	background-color: #2E2F42;
}

.main-title {
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.btn {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	align-items: center;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: var(--main-btn-color);
	font-family: "Roboto", sans-serif;
	cursor: pointer;
}

/**
   |============================
   | section2 style
   |============================
 */

.main-section {}


.main-box {}

.main-caption {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--main-txt-cl);
	text-transform: capitalize;

}

.main-text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	background-color: #FFFFFF;

}

/* section3 or section4 style */
/* footer */
.container {
	letter-spacing: 0.02em;
}

.main-sabject {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-txt-cl);
	text-transform: capitalize;
	background-color: #F4F4FD;
}

.section-the-end {
	background-color: #F4F4FD;
	letter-spacing: 0.02em;
}




.box {
	background-color: #FFFFFF;
}

.the-end {

	background-color: #2e2f42;
}

.logo-studio-end {
	color: #f4f4fd;

}

/**
  |============================
  |  Portfolia
  |============================
*/

/* header-portfolio */

/* logo portfolio  */
.logo-portfolio {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	text-decoration: none;
}

.logo-span {
	color: #2e2f42;

}

.portfolio-navigation {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}




.portfolio-addres {
	font-style: normal;

}

.address-navigation {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;

}


/* button */
all-button {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}