/**
  |============================
  | палитра кольорів
  |============================
*/

:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;


	/* color text */

	--addres-txt-cl: var(--slate);
	--main-txt-cl: var(--navy-blue);
	--main-caption-cl: var(--dairy);
	--main-btn-color: var(--iris);
	--portfolio-btn-cl: var(--cloud)
}






body {
	background-color: #ffffff;
	color: #434455;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.list{
list-style: none;


}
/**
  |============================
  | header-hover
  |============================
*/

.header-link:hover {
	color: #404bbf;
}

.header-link-addres:hover {
	color: #404bbf;
}

.header-link-email:hover {
	color: #404bbf;
}

.btn:hover {
	background-color: #404bbf;

}

.nav-btn-pt:hover {
	background-color: #404bbf;
	color: var(--portfolio-btn-cl);
}

/**
  |============================
  | Header style
  |============================
*/

.header {}

.header-nav {}

.header-logo {}

.header-item {}

.header-link {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--addres-txt-cl);

}

.header-address {}

.header-item-addres {}


.header-link-email {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--addres-txt-cl);
}

.header-link-addres {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--addres-txt-cl);
}

/**
  |============================
  |  section1 style
  |============================
*/
.main-section {
	background-color: #2E2F42;
}

.main-title {
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-caption-cl);

}

.btn {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--main-caption-cl);
	background-color: var(--main-btn-color);
}

/**
   |============================
   | section2 style
   |============================
 */

.main-section {}


.main-box {}

.main-caption {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--main-txt-cl)
}

.main-text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-txt-cl);

}

/* section3 or section4 style */
/* footer */
.container {}

.main-sabject {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-txt-cl);
}

/**
  |============================
  |  Portfolia
  |============================
*/

/* header-portfolia */


/* button */
.nav-btn-pt {

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--main-btn-color);
	background-color: var(--portfolio-btn-cl);

}